h1 {
  color: rgb(209, 46, 25);
  text-align: center;
}
body {
  margin: auto;
}
.logoText {
  margin-top: 12px;
}
.headContainer {
  position: fixed;
  height: 64px;
  width: 100%;
  background-color: rgb(9, 218, 103);
}
.navHeader {
  text-align: center;
  margin: 1px;
}
.navContainer {
  position: absolute;
  right: 10px;
  top: 128px;
  border: 3px solid blue;
  height: 128px;
}
.navButtons{
  position: relative;
}
.navButton {
  position: relative;
  padding: 5px;
  display: block;
  margin: auto;
  width: 100%;
}
.footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  height: 32px;
  background-color: rgb(9, 218, 103);
}
.footerLinks{
  margin-top: 6px;
  display: flex;
  justify-content: space-evenly;
}
.logoImage{
  margin-top: 25px;
  margin-left: 200px;
}
.aboutText{
  text-align: center;
  right: 50%;
  padding-top: 25px;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 50px;
  margin-left: -60px;
  margin-right: 200px;
  top: 3000px;
  width: 800px;
  background-color: whitesmoke;
  border: 7px solid gold;
  height: 125px;
}
.checkboxesRow{
  background-color: lightgrey;
  margin: 15px;
}
.lookupBody{
  padding-top: 64px;
  width: 70%;
  padding-left: 32px;
}
.checkboxes{
  display: flex;
  justify-content: space-evenly;
  padding: 15px;
}
.headerSpacer{
  top:64px;
}
.recipePageHeader{
  top: 100px;
  width: 100%;
  text-align: center;
}
.recipePageName{
  top: 100px;
  padding-top: 40px;
  padding-bottom: 20px;
  align-content: center;
  font-family: fantasy;
  font-size: 24pt;
  text-align: center;
}
.recipeIngredients{
  top: 1000px;
  width: 70%;
  height: 250px;
  margin-left: 2%;
  margin-right: 10%;
  padding-top: 20px;
  padding-left: 35px;
  padding-right: 150px;
  background-color: lightgray;
  text-align: left;
  outline-style: solid;
  outline-color: lightblue;
}
.recipeDirections{
  top: 100px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-family: fantasy;
  font-size: 24pt;
}
.recipePageContent{
  top: 100px;
  width: 90%;
  margin-left: 2%;
  height: 400px;
  background-color: palegoldenrod;
  padding-top: 40px;
  padding-left: 35px;
  padding-right: 35px;
  text-align: left;
  list-style: decimal;
  outline-style: solid;
  outline-color: lightblue;
}